.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}

.text-right {
  margin-left: 30px;
}

.name {
  font-size: 100px;
  color: #6d76b9;
}

.age {
  font-size: 50px;
  color: #6d76b9;
}

.email {
  font-size: 50px;
  color: #6d76b9;
}

.phone {
  font-size: 50px;
  color: #6d76b9;
  /* background: #a7cfdf;
  background: linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
