@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
}

.fondo-bienvenidos {
  background: rgb(2, 0, 36);
  background: black
}

.bn {
  color: red;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: #000000;
  border-radius: 16px;
  background-color: #FA9301;
  padding: 8px;
}





